*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EFF5F5;
    outline: none;
}

h1{
    font-family: sans-serif;
    color: #497174;
    text-align: center;
    margin-top: 30px;
    font-size: 300%;
}
.container{
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background-color:#EFF5F5 ;
    border: 1px solid #EFF5F5;
    padding: 20px;
    border-radius: 30px;
    box-shadow: inset 2px 2px 10px #497174,
                      2px 2px 10px #497174;
    display: grid;
    grid-template-columns: repeat(4 ,70px);
    gap: 5px;
}
#output-screen{
    background-color: #EFF5F5;
    color: #497174;
    font-size: large;
    grid-column: span 4;
    height: 80px;
    width: 270px;
    text-align: end;
    padding: 20px;
    border-radius: 30px;
    margin: 20px auto;
    border: none;
    box-shadow: inset 2px 2px 5px #497174,
                inset -2px -2px 5px #497174;
}
button{
    border:none;
    background-color: #EFF5F5;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 5px;
    box-shadow: 2px 2px 3px #497174,-2px -2px 3px #497174 ;
    font-size: larger;
    color: #497174;
}
.equal{
    width: 120px;
    border-radius: 30px;
}
